/* resets */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
li {
  list-style: none;
}
/* end of resets */

:root {
  --box-shadow: #00000038 0px 10px 20px, #00000048 0px 6px 6px;
}

body {
  height: 100vh;
  background-image: url("../pokemon-game-bg.jpg");
  /* height: calc(100vh - 100px); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: sans-serif;
}

form,
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
}

form {
  width: 100%;

  input,
  button {
    padding: 0.5rem;
    font-size: 1rem;
    box-shadow: var(--box-shadow);
    border: 2px solid#F29503;
  }
  
  input:focus {
    /* gap: 2rem; */
    border: 2px solid #f29503;
  }

  button {
    background-color: #f29503;
    font-weight: bold;
    outline: none;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: #fff;
      color: #f29503;
    }
  }
}

.container {
  margin: 0 auto;
  border-radius: 10px;
  background: #ffffffaf;
  box-shadow: var(--box-shadow);
  height: 500px;
  width: 320px;
  padding: 2.5rem 20px;

  .poke-name {
    background-color: #ee1313a4;
    text-align: center;
    text-transform: uppercase;
    padding: 0.2rem 1.5rem;
    margin-bottom: 1.1rem;
  }

  img {
    border: 3px solid #131010ad;
    border-radius: 50%;
    outline: 5px solid #f29603a2;
    outline-offset: 5px;
    margin: 1.5rem auto 1.3rem;
    display: block;
  }

  h3 {
    text-align: center;
    margin: 0.5rem 0;
  }

  .stat {
    min-width: 200px;

    .stat-list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding: 2px 0;

      .stat-name {
        flex: 1;
        font-weight: bold;
        text-transform: uppercase;
      }

      .base-stat {
        color: #0606d8;
        font-size: 20px;
        font-weight: bold;
        padding-left: 5px;
        width: 27px;
      }
    }
  }

  .ability li {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 3px;
    padding: 0 1rem;
  }
}
